@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

.thm-style {
    background-color: #faf8f8;
    margin: -16px -8px;
    padding: 16px 16px 24px;

    & div.ramp--transcript_item {
        border-left: 4px solid transparent;
        &.active {
            border-left: 4px solid #f96704;
        }
        &.active,
        &:hover {
            background-color: #d9d9d9;
        }
        & .ramp--transcript_time a {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #232323;
            letter-spacing: 0em;
            text-align: left;
        }

        & .ramp--transcript_search-match {
            font-weight: 700;
            color: #000;
        }
    }

    & .ramp--marker-container:not(:empty) ~ .ramp--progress_tooltip {
        top: 100%;
        background: #7e7e7e;
        &:after {
            border-color: transparent transparent #7e7e7e transparent;
            bottom: 100%;
            top: unset !important;
        }
    }

    & .ramp--transcript_search-marker {
        background-color: transparent;
        width: 18px;
        height: 24px;
        background-size: cover;
        opacity: 1;
        top: -25%;
        background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAyNCI+CiAgPHBhdGggZD0ibTE2LDguMzhjMCw0LjYzLTgsMTMuNjItOCwxMy42MiwwLDAtOC04Ljk5LTgtMTMuNjJTMy41OCwwLDgsMHM4LDMuNzUsOCw4LjM4WiIgc3R5bGU9ImZpbGw6ICMwMGE3Yzc7Ii8+Cjwvc3ZnPg==");

        &:hover {
            opacity: 1;
            background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOCAyNCI+CiAgPHBhdGggZD0ibTE2LDguMzhjMCw0LjYzLTgsMTMuNjItOCwxMy42MiwwLDAtOC04Ljk5LTgtMTMuNjJTMy41OCwwLDgsMHM4LDMuNzUsOCw4LjM4WiIgc3R5bGU9ImZpbGw6ICNmZmZmZmY7Ii8+Cjwvc3ZnPg==");
        }
    }

    & .ramp--transcript_nav .ramp--transcript_menu {
        background-color: #faf8f8;
        border: 0;
    }

    & .ramp--transcript_nav div.transcript_content {
        height: calc(25em - 32px);
    }

    & .ramp--transcript_nav .ramp--transcript_menu {
        .ramp--transcript_search-clear {
            height: 14px;
            width: 14px;
            appearance: none;
            border: none;
            top: 50%;
            right: 8px;
            position: absolute;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            background-position: center center;
            font-size: 0;
            cursor: pointer;
            transform: translateY(-50%);
            background-image: url("../../assets/icons/close.svg");

            &:hover,
            &:focus {
                background-image: url("../../assets/icons/close-focus.svg");
            }

            &:disabled {
                cursor: default;
                display: block;
                background-image: url("../../assets/icons/search.svg");
            }
        }
        & input.ramp--transcript_search-input:focus ~ .ramp--transcript_search-clear:disabled {
            background-image: url("../../assets/icons/search-focus.svg");
        }

        & .ramp--transcript_search-input-container {
            position: relative;
        }
        & input.ramp--transcript_search-input {
            appearance: none;
            color: #232323;
            height: 46px;
            font-family: "Source Sans Pro", sans-serif;
            background-color: transparent;
            width: calc(100% - 32px);
            font-size: 16px;
            font-weight: 600;
            padding: 0 24px 1px 8px;
            letter-spacing: 0em;
            text-align: left;
            border: none;
            border-bottom: 1px solid #000;
            &:focus {
                outline: none;
                padding-bottom: 0;
                border-bottom: 2px solid #f96704;
            }

            &::placeholder {
                color: #808080;
            }
        }

        & .ramp--transcript_search-navigator {
            justify-content: space-between;
            width: 290px;
        }

        & .ramp--transcript_search-count {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: #808080;
            &:only-child {
                width: 100%;
            }
        }

        & button.ramp--transcript_search-prev,
        & button.ramp--transcript_search-next {
            appearance: none;
            padding: 0 10px;
            height: 48px;
            cursor: pointer;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-transform: uppercase;
            background-color: transparent;
            border: 2px solid transparent;

            &:not(:disabled) {
                &:hover,
                &:focus {
                    outline: none;
                    border: 2px solid #f96704;
                }
            }

            color: #f96704;
            &:disabled {
                cursor: not-allowed;
                color: #808080;
            }
            background-size: 7.5px 12px;
        }

        & button.ramp--transcript_search-prev {
            background-image: url("../../assets/icons/left.svg");
            background-repeat: no-repeat;
            background-position: 8px center;
            padding-left: 24px;
            &:disabled {
                background-image: url("../../assets/icons/left-disabled.svg");
            }
        }

        & button.ramp--transcript_search-next {
            background-image: url("../../assets/icons/right.svg");
            background-repeat: no-repeat;
            background-position: calc(100% - 8px) center;
            padding-right: 24px;
            &:disabled {
                background-image: url("../../assets/icons/right-disabled.svg");
            }
        }

        & .ramp--transcript_downloader {
            appearance: none;
            color: #232323;
            cursor: pointer;
            border: 1px solid #232323;
            background-color: #fff;
            border-radius: 0;
            width: 290px;

            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            height: 46px;

            text-transform: uppercase;

            &:hover,
            &:focus {
                border: 2px solid #f96704;
                color: #f96704;
                outline: none;
            }
        }

        & .ramp--transcript_content {
            appearance: none;
            background-color: transparent;
            background-image: url("../../assets/icons/chevron-down.svg");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: calc(100% - 8px) center;
            border: none;
            height: 48px;
            border-bottom: 1px solid #000;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: #232323;
            &:focus {
                outline: none;
                border-bottom: 2px solid #f96704;
            }

            & option {
                text-transform: uppercase;
                color: #232323;
                padding: 0 0 8px;
            }
        }
    }
}
